@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #fbfcff;
  font-family: "Sora", sans-serif;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}

.App {
  padding: 1.5rem 8.4375rem;
}
/* Header Section*/
.header {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-item:first-child {
  margin-right: 3.125rem;
}
.nav-item {
  margin-right: 1.375rem;
}
.nav-item:hover:not(.nav-item:first-child) {
  border-bottom: 2px solid #000;
}
.profile {
  display: flex;
  align-items: center;
}
.profile_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}
.name {
  font-weight: bold;
}

.user_img {
  margin-right: 1rem;
}
.user_img,
.cart_img {
  width: 2.25rem;
  height: 2.25rem;
}

/* Hero Section */
.hero {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}
.hero_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.hero_p {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}
.hero_img {
  width: 40.125rem;
  height: 37.75rem;
}
.btn {
  padding: 0.75rem 1.5rem;
  background-color: #212121;
  color: #fff;
  text-align: center;
  align-items: center;
  transition: all 0.5s linear;
}
.btn:hover {
  color: #212121;
  background-color: transparent;
}

/*Promotions Section  */
.promotions {
  margin-top: 6.25rem;
}
.promotions-title-blue {
  text-align: center;
  color: #0062f5;
  font-weight: 400;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.promotions-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.8125rem;
}
.promotions-events {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}
.promotions-left {
  width: 50%;
}
.promotions-right {
  width: 50%;
}

.gray {
  background-color: #d6d6d8;
  margin-bottom: 0.875rem;
  height: 13.625rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray-text {
  margin: 0 auto;
}
.gray-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.gray-title > span {
  font-size: 2rem;
  font-weight: 900;
}
.gray-info {
  font-size: 1.125rem;
}
.black {
  background-color: #212121;
  height: 13.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.black-title {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0.75rem;
}
.black-info {
  font-size: 0.875rem;
}
.black-code {
  margin-top: 0.25rem;
  padding: 0.625rem 2.875rem;
  background-color: #424242;
  border-radius: 0.5rem;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 1.5;
}

.promotions-right {
  display: flex;
  height: 28.125rem;
}
.pink {
  background-color: #efe1c7;
  margin-right: 0.875rem;
  padding: 1rem 1rem 0 1rem;
}
.pink-title {
  color: #212121;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.old-price {
  text-decoration: line-through;
  font-size: 1rem;
  color: #666666;
  margin-right: 0.875rem;
}
.new-price {
  font-size: 1.125rem;
  font-weight: 700;
}
.pinkImg {
  margin-top: 6px;
  overflow: hidden;
}
.green {
  background-color: #d6d6d9;
  padding: 1rem 1rem 0 1rem;
}
.green-title {
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.pink-img {
  position: relative;
}
.green-img {
  position: relative;
}
.greenImg {
  margin-top: 6px;
  overflow: hidden;
}
.btn-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1.25rem;
  right: 0.5rem;
}

/* Product Slider Section */
.products {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.products-title-blue {
  text-align: center;
  color: #0062f5;
  font-weight: 400;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.products-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.8125rem;
}
.product-img {
  width: 23.125rem;
  height: 27.625rem;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 1rem;
}
.product-name {
  font-size: 1rem;
  font-weight: bold;
}
.product-price {
  font-size: 0.8rem;
  font-weight: 700;
}

/* Product Overview */
.productOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 12.5rem;
}
.overview-title {
  font-size: 2.75rem;
  font-weight: bold;
  display: flex;
  width: 40%;
  margin-bottom: 2rem;
}
.overview-content {
  display: flex;
}
.overview-info {
  position: relative;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.overview-info::after {
  content: " Different From Others";

  position: absolute;
  line-height: 1;
  z-index: -1;
  opacity: 5%;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 3.5rem;
}
.info {
  width: 40%;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
}
.info-title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  word-break: break;
}
.info-text {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}
.overview-image {
  width: 30%;
  text-align: center;
}
.overview-img {
  width: 20, 3125rem;
  height: 25rem;
}
.overview-image-info {
  margin: auto 0;
  width: 30%;
  padding-left: 2.5rem;
}
.image-info-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3.125rem;
}
/* Email Subscription */
.email-subs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.25rem;
}
.email-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.email-info {
  font-size: 0.875rem;
  font-weight: light;
  margin-bottom: 2.5rem;
}
.email-input {
  width: 20rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border: 1.2px solid #f1f1f1;
  padding: 0.75rem 1.25rem;
  font-size: 0.8125rem;
  font-weight: regular;
  color: #666666;
}
.email-btn {
  padding: 0.625rem 1.5rem;
}
/* Footer */

.footer-content {
  padding: 3.125rem 0;
  width: 100%;
  display: flex;
}
.footer-info {
  width: 40%;
  margin-right: 9.75rem;
}
.footer-logo {
  margin-bottom: 1.125rem;
}
.footer-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666666;
  margin-bottom: 2.5rem;
}
.btn-social {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: #f1f1f1;
  color: #666666;
  margin-right: 10px;
  border-radius: 0.375rem;
}
.btn-social > svg {
  position: relative;
  top: 0.3125rem;
}
.footer-company {
  width: 20%;
  margin-right: 9.75rem;
}
.footer-title {
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #666666;
}
.footer-link {
  margin-bottom: 0.625rem;
}
.footer-link > a {
  font-weight: 400;
  color: #666666;
}
.footer-support {
  width: 20%;
  margin-right: 9.75rem;
}
.footer-contact {
  width: 20%;
}
.line {
  display: block;
  margin-left: -8.4375rem;
  width: 121.6%;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
}
.copyright {
  font-size: 0.75rem;
  color: #666666;
  font-weight: 400;
}
.createBy {
  font-size: 0.75rem;
  color: #666666;
  font-weight: 400;
}
/* Products Filter */
.products-filter {
  width: 15.75rem;
}
/* Category Options */
.category-options {
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  transition: all 1s ease;
}
.category-btn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  transition: all 0.5s linear;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
}
.active-btn {
  background-color: #212121;
  color: #fff;
}
.closeCategory {
  height: 33.125rem;
}

/* Price Options */
.price-options {
  display: flex;
  gap: 1rem;
  height: 32px;
  visibility: visible;
  transition: all 1s ease;
}
.price-btn {
  padding: 0.4375rem 1.65rem;
  border: 1px solid #c4c4c4;
  font-size: 0.875rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.activePrice {
  background-color: #000;
  color: #fff;
}
.closePrice {
  height: 0px;
  opacity: 0;
}
/* Condition Filter */
.condition-options {
  display: flex;
  flex-direction: column;
  height: 3rem;
  visibility: visible;
  transition: all 1s ease;
}
.condition-option {
  margin-right: 0.75rem;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}
.closeCondition {
  height: 0px;
  opacity: 0;
}

/* Rate Filter */
.rate-options {
  display: flex;
  flex-direction: column;
}
.rate-option {
  display: flex;
  align-items: flex-start;
}
.rate-option label {
  display: flex;
}
.fill {
  color: #ffc700;
}
.empty {
  color: #fff;
  stroke: #ffc700;
  stroke-width: 50px;
}
